[submodule "kGeneticAlgorithm/ThirdParty/spdlog"]
	path = kGeneticAlgorithm/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "kGeneticAlgorithm/ThirdParty/box2d"]
	path = kGeneticAlgorithm/ThirdParty/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "kGeneticAlgorithm/ThirdParty/imgui"]
	path = kGeneticAlgorithm/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
