# others
.obj
.pdb

# folders
/Debug
/x64
/kGeneticAlgorithm/Debug
/kGeneticAlgorithm/x64

# ThirdParty folders
# TODO: allow these
/kGeneticAlgorithm/ThirdParty/SDL2_image
/kGeneticAlgorithm/ThirdParty/SDL2

# visual studio project files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user